<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" class="h-100">
<head class="h-100">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>User page</title>
</head>
<body class="h-100">
<header id="navbar">
</header>
<main class="h-100">
    <div class="container-fluid p-0 h-100">
        <div class="row m-0 h-100">
            <div class="col-2 p-0 h-100">
                <div class="list-group list-group-flush mt-3" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-user-list"
                       data-toggle="list" href="#list-user" role="tab" aria-controls="profile">User</a>
                </div>
            </div>
            <div class="col-10 bg-light p-0">
                <div class="tab-content " id="nav-tabContent">
                    <div class="tab-pane active" id="list-user"
                         role="tabpanel" aria-labelledby="list-user-list">
                        <div class="mt-3 pl-4 pr-4">
                            <p class="h2 mt-1">User information-page</p>
                            <div class="card">
                                <h5 class="card-header">About user</h5>
                                <div class="card-body">
                                    <div class="table bg-white  h-100">
                                        <table class="table table-striped bg-white p-5" id="principal-info">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="/user.js"></script>
</body>
</html>